<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
</head>

<body class="bodyclass">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    Car Management System</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/book">Book Service</a></li>
                    <li><a href="/status">Check Status</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <h1 class="heading">Book a Request</h1>
    <div class="container">
    <form class="form-horizontal" action="/">
        <div class="form-group">
            <label class="control-label col-sm-2" for="regstrn_no">Registration No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="regstrn_no" placeholder="Registration No.">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Owner Name</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="owner_name" placeholder="Owner Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="make_name">Make</label>
            <div class="col-xs-4">
                <select class="form-control" id="make_name">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="model_name">Model</label>
            <div class="col-xs-4">
                <select class="form-control" id="model_name">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="service_no">Service No.</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="service_no" placeholder="Service No.">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
    </div>
</body>

</html>