body {
  background: url('/public/images/car_bg.jpg');
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #00B7FF !important;
}

a {
  color: #00B7FF;
}
.heading {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 64px;
  padding: inherit;
}

p {
  text-align: center;
  text-decoration: antiquewhite;
}