body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: aliceblue;
}

a {
  color: #00B7FF;
  font-family: 'Cinzel',serif;
  font-size: 14px;
}

.heading {
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 64px;
  padding: inherit;
}

p {
  text-align: center;
  text-decoration: antiquewhite;
}

.car_image{
  position: fixed;
  size: inherit;
}